
.about-content-box{
    display: flex;
    justify-content: space-evenly;
}

.details{
    width: 49dvw;
    height: 60dvh;
}
.bor-pro{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.303) ;
    padding: 30px 36px 30px 36px;

}
.tech{
    width: 38.5dvw;
    height: 60dvh;
    border-radius: 0px 16px 16px 0px;
    background: radial-gradient(
        circle at top left,
        #BB86FC, 
        #BB86FC71,
        #BB86FC26,
        transparent 30dvh
      ),
      
      radial-gradient(
      circle at bottom right,
      #03dac5, 
      #03dac571,
      #03dac526,
      transparent 30dvh
    );
}

.story{
    width: 100%;
    height: 30dvh;
    border-radius: 16px 0px 0px 0px;
    background:
      radial-gradient(
      circle at top left,
      #BB86FC, 
      #BB86FC71,
      #BB86FC26,
      transparent 30dvh
    );
}
.dev-name{
    width: 100%;
    height: 30dvh;
    border-radius: 0px 0px 0px 16px;
    background:
      radial-gradient(
      circle at bottom right,
      #03dac5, 
      #03dac571,
      #03dac526,
      transparent 30dvh
    );
}

.sub-title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
}

.social-grp{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.social-icon{
    height: 6dvh;
    width: 6dvh;
    /* background-color: #BB86FC; */
    border-style: solid;
    border-radius: 30dvh;
    border-color: white;
    border-width: 1px;
    margin-right: 4dvh;
    display: flex;
    justify-content: center;
    
}
.social-icon img{
    height: 2.5dvh;
    /* width: 3dvh; */
    margin: auto;
    width: 50%;  
}

.social-icon:hover{

    background-color: #ffffff28;
    border-style: solid;
    border-radius: 30dvh;
    border-color: #03DAC6;
    background-color: #03dac584;
    border-width: 1px;
    margin-right: 4dvh;
    display: flex;
    justify-content: center;
    transition-delay: 0.1;
}

.tech-grp{
    width: 100%;
    margin: 44px auto;
    height: 80%;
    /* background-color: #03dac5; */
    display: flex;
    justify-content: space-evenly;
}

.tech-sub-grp{
    height: 100%;
    width: 100%;
    margin-right: 40px;
    /* background-color: #BB86FC; */
}

.tech-sub-grp img{
    margin-bottom: 64px;
}