.page-about{
    display: flex;
    justify-content: center;
}


.box{
    border-color: #03DAC6;
    width: 27dvw;
    height: 60dvh;
    margin: 20px;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    /* border-image: linear-gradient(0deg, rgba(3, 218, 198, 0.1), rgba(3, 218, 198, 0.6)) 1; */
    /* animation: float 6s ease-in-out infinite; */
}



.space{
    padding: 24px 32px 24px 32px;
    display: block;
}
.purp{
    border-color: rgba(187, 134, 252, 0.6);
}

.card-step{
    font-size: 24px;
    font-weight: 500;    
}

.card-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 40px;
}

.card-cont{
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: rgba(255, 255, 255, 1.0);
    margin-bottom: 124px;
}

.back-grad{
    height: 12dvh;
    width: 25%;
    position: absolute;
    margin: 0px;
    background: radial-gradient(
        ellipse at top,
        #03dac5d6, 
      #03dac571,
      #03dac53a,
      transparent 12dvw
      );
      translate: 3%;
      
}
.back-grad-purp{
    height: 12dvh;
    width: 25%;
    position: absolute;
    margin: 0px;
    background: radial-gradient(
        ellipse at top,
        #bb86fcd6, 
      #bb86fc71,
      #bb86fc3a,
      transparent 12dvw
      );
      translate: 3%;
}

.shadow-box{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.color-shadow{
    height: 80px;
    width: 100%;
    margin: 20px;
    background: radial-gradient(
        ellipse at center,
        #03dac54b 0%, rgba(3, 218, 198, 0) 60%
      );
}

.color-shadow-purp{
    height: 80px;
    width: 100%;
    margin: 20px;
    background: radial-gradient(
        ellipse at center,
        #bb86fc42 0%, rgba(3, 218, 198, 0) 60%
      );
}

.card-btn{
    font-size: 16px;
    font-weight: 500;
    color: #03DAC6;
    border-color: #03DAC6;
    border-style: solid;
    padding: 18px 40px;
    border-radius: 8px;
    border-width: 1px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    
}

.card-btn-purp{
    font-size: 16px;
    font-weight: 500;
    color: #bb86fc;
    border-color: #bb86fc;
    border-style: solid;
    padding: 18px 40px;
    border-radius: 8px;
    border-width: 1px;
    background-color: transparent;
}

.card-btn:hover{
    background-color: #03DAC6;
    color: #0A0814;
    font-weight: 700;
    box-shadow: 0 0px 16px #03dac542;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-btn-purp:hover{
    background-color: #bb86fc;
    color: #0A0814;
    font-weight: 700;
    box-shadow: 0 0px 16px #bb86fc42;
    cursor: pointer;
}



@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}