@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --bg:#110E22;
  --dot-color: rgb(187, 134, 252, 20%);
  --dot-size: 2px;
  --dot-space: 6.2dvw;

  color:  #ffffff;
  background-color: #0A0814;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: url('./assets/cursor_icon.svg'), auto;
  
}

* {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
}

body{
  height: 100dvh;
}

.page{
  padding: 10dvh 6.2dvw;
  height: 100dvh;
}

.hero-line{
  font-weight: 700;
  font-size: 3.75dvw;
  line-height: 100%;
  background: -webkit-linear-gradient(45deg,#03DAC6, #BB86FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: fadeInNav 1s ease-in both; */
}

.page-title{
  font-weight: 700;
  font-size: 3.75dvw;
  line-height: 100%;
  width: max-content;
  /* margin-bottom: 52px; */
}

.foot-page{
  height: 50dvh;
  width: 100%;
  background-color: #161520;
}

.bottom-margin {
  margin-bottom: 52px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInNav {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.three-two{
  font-size: 2rem;
  font-weight: 500;
}

.body-text{
  font-weight: 400;
    font-size: 1rem;
    line-height: 148%;
    color: #ffffff;
}

.proj-card{
  height: 44px;
  border-style: none;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 12px;
  border-radius: 12px;
  padding-right: 44px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.proj-card:hover{
  background-color: #22202B;
}

.proj-card div{
  height: 44px;
  width: 44px;
  background-color: #22202B;
  border-radius: 44px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-card div img{
  width: 20px;
  height: 20px;
}

.close-icon{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}